body {
    background-color: lightyellow;
}

h2 {
    background-color: lightblue;
}

.abhishekAlign {
    text-align: left;
}

div {
    background-color: pink;
}
.textBold {
    font-weight: bolder; 
    color: blue;
}

h1 {
color: #076426
}
